<md-icon md-svg-icon="{{$ctrl.selected.avatar}}" class="avatar"></md-icon>
<h2>{{$ctrl.selected.name}}</h2>
<p>{{$ctrl.selected.content}}</p>

<md-button class="md-fab md-fab-bottom-right" ng-click="$ctrl.share($event)" aria-label="Share">
  <md-icon md-svg-icon="share" ></md-icon>
</md-button>

<!-- ng-repeat is an angular command to repeat the button in a loop. 
     It will be repeated for each button in UsersDataService.js. -->
     <span ng-repeat='button in $ctrl.selected.buttons'>
      <md-button class="md-primary md-raised" ng-click="$ctrl.showAlert(button)">  {{button.buttonTitle}} button
      </md-button >
    </span>