<!-- this is the link to learn how to link to other pagesx-->
<!--https://jasonwatmore.com/post/2019/04/29/angular-7-tutorial-part-3-add-routing-multiple-pages-->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: rgb(51, 51, 51);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #296196; 
    color: white;
    font-weight: 900;
  }



  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }





  /* card2 and commmands are same -- HEADER BUTTONS*/
  .commands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }


  .card2 {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #c6d5da; /*this is the color for all the buttons on screen */
    height: 40px;
    width: 250px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

    

  

  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }


  

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #c6d5da; /*this is the color for all the buttons on screen */
    height: 20px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }



  
  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(224, 215, 215);
  }

  /*this is the color box around the RANIA CONTROL  */
  .card.highlight-card {
    background-color: #296196; 
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin: 160px;
    font-weight: 900;
    font-size: 18px;
  }

  

  
  a,
  a:visited,
  a:hover {
    color: #9b9c8d;
    text-decoration: none;
  }

  /*this is the color of the card text when you hovwer*/ 
  a:hover {
    color: #13236b; 
  }

  


  
/* FOOTER */
  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  
/* STAR BADGE AT END */
  .star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  .star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(17, 16, 85, 0.35);
    background-position: -.5em;
  }

  .star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

 


  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }
  }
</style>



<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>


<!-- Toolbar -->
<div class="toolbar" role="banner">
   <img  
   width="60"
   alt="health logo"
   src="https://icon-library.com/images/health-icon-transparent/health-icon-transparent-12.jpg" alt="health" width="32" height="32"style="display:block"
   />
  <span>  RANIA CONTROL</span>
    <div class="spacer"></div>
    <span>  Welcome John</span>

</div>



<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>COMMAND HUB </span>
  </div>

  <!-- COMMAND HEADINGS -->
  <h2>These are the avaliable command options:</h2>

  
  <div class="commands">
    <a class="card2"  target="_blank" rel="noopener">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Control Button Commands</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>

    <a class="card2" target="_blank" rel="noopener">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Device Button Commands</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card2" target="_blank" rel="noopener" href="https://www.google.com/?client=safari">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Emergency Assistance</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

  </div>

<!-- HARD CODED COMMANDS -->

  <div class="card-container">
    <a class="card"  target="_blank" rel="noopener">
      <span>RANIA, Hello</span>
          </a>

    <a class="card" target="_blank" rel="noopener" href="https://www.google.com/?client=safari">
      <span>Have I taken my medicine today?</span>
    </a>

    <a class="card" target="_blank" rel="noopener">
      <span>Help, this is an emergency.</span>
    </a>
  </div>

  <!-- Footer -->
  <footer>
      Want to learn more?&nbsp;
      <a href="https://gerontechlab.faculty.wvu.edu/rania-testbed" target="_blank" rel="noopener"> 
        <div class="star-badge">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          WVURANIA
        </div>
      </a>
  </footer>
</div>

<!-- https://levelup.gitconnected.com/code-simple-svg-icons-home-globe-profile-share-8c337f3d8332-->


